canvas {
/*
  width: 700px;
  height: 600px;*/
  background-color: #e7d2b7;
}

button {
  padding: 3px;
  color: #333333;
  background: #FFFFFF;
}

#new-fixture-markers {
  width: 50px;
  padding: 2px;
}
